

main {
    height: calc(100vh - 150px);
}

main > h4 {
    font-size: 1.6em;
    color: #949494;
}

/* incio carrucel */
.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    /* height: calc(100vh - 145px); */
    margin: 0 auto;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.slide-content {
    padding: 0 40px 0 20px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.slide h2 {
    margin-top: 15px;
    font-size: 2.5em;
    color: #333;
}
.slide h3 {
    margin-top: 15px;
    font-size: 1.8em;
    color: #333;
    border-bottom: 2px solid #050505;
}

.slide-content > p {
    margin: 15px 0;
    font-size: 1.1em;
    color: #808080;
}



.slide .bold {
    font-weight: 600;
    color: #000;
}

.bg-price {
    background-color: #4b912b;
    color: white;
    font-weight: 600;
    font-size: .8em;
    padding: 4px 8px;
    border-radius: 4px;
}

.bg-red {
    background-color: #8d1717;
}

.price {
    color: green;
    font-weight: bold;
}

.bg-blue {
    background-color: #4b8df8;
}
.bg-violet {
    background-color: #91279b;
}

.ps-2 {
    padding-left: 60px;
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.buttons button {
    background-color: rgb(0, 131, 197);
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
}

.buttons button:hover {
    background-color: rgb(4, 58, 85);
}

@media (min-width: 600px) {
    .slide {
        flex-direction: row;
        gap: 20px;
    }

    .slide img {
        width: 50%;
    }

    .slide p {
    margin: 10px 0;
    font-size: .9em;
}

    .slide-content {
        width: 50%;
    }

    /* finn carrucel */

   

    }