* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Signika Negative', sans-serif;
    /* background-image: url('../images/logoSantafe.png'); */
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 200px;
    background-color: rgb(255, 255, 255);
    /* background: linear-gradient(); */
    height: 100vh;
    
    position: relative;
}

main {
    font-family: 'Signika Negative', sans-serif;
    width: 95%;
    margin: 30px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


header {
    background-color: rgb(0, 131, 197);
    padding: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

header > img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

.titulo {
    /* background-color: rgb(0, 131, 197); */
    color: #ffffff;
    font-size: 2em;
    /* letter-spacing: 10px; */
    text-align: center;
    padding: 20px 0;
}

.contenedor {
    background-color: rgb(219, 219, 219);
    width: 100%;
    padding: 20px;

    display: flex;
    gap: 10px;
}

.contenedor > .flex_uno,
.contenedor > .flex_dos {
    
    padding: 20px;
    border-radius: 8px;
}

.contenedor > .flex_uno {
    background-color: rgb(255, 255, 255);
    width: 60%;
}

.contenedor > .flex_uno > ul,
.contenedor > .flex_dos > ul {
    padding-left: 40px;
}

.contenedor > .flex_uno > ul > li {
    padding: 5px;
}
.contenedor > .flex_dos {
    background-color: rgb(255, 255, 255);
    width: 20%;
}
.flex_uno > h2,
.flex_dos > h2 {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #838383;
}


.contenedor > .flex_dos > ul > li {
    padding: 5px;
}

.text-gray {
    color: #838383;
}



.ing_hgi {
    position: absolute;
    bottom: 10px;
    margin: 10px;
}

.ing_hgi a {
    background-color: #ebebeb;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    border-radius: 5px;
}

.ing_hgi > .btn_volver > i {
    margin-right: 5px;
}
.ing_hgi > .btn_hgi > i {
    margin-left: 5px;
}

.btn_volver {
    border: 2px solid #000;
    transition: all .4s ease;
}


.ing_hgi > .btn_volver:hover {
    background-color: #000000;
    color: #ebebeb;
}
